
/*make box-sizing :border-box for all elements*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }



  .grid{
    display: grid;
    grid-gap: 1em;
    background-color: #2196F3;
    padding: 2em;
  }

  /* Second Container */

  .second-container{
    grid-template-columns: auto auto;
    height: 50em;
    background: rgb(64, 252, 73);
  }

  .big-2{
    grid-row: 1-2;
  }

  .small-2{
    grid-row: 1-2;
  }




 